pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable Quarter",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "quarter_var",
					"value": {
						"value": "@pipeline().parameters.quarter_par",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Year",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable Quarter",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "year_var",
					"value": {
						"value": "@pipeline().parameters.year_par",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set variable Year",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "DataParser",
					"body": {
						"value": "@concat('{\"quarter_val\":\"', pipeline().parameters.quarter_par, '\", \"year_val\":\"', pipeline().parameters.year_par,'\"}')\n",
						"type": "Expression"
					},
					"headers": {
						"Content-Type": "application/json"
					},
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "MemberDataFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Azure Function1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('Azure Function1').output.statusQueryGetUri",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"quarter_par": {
				"type": "string"
			},
			"year_par": {
				"type": "string"
			}
		},
		"variables": {
			"quarter_var": {
				"type": "String"
			},
			"year_var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}