Ingenious-df/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ingenious-df"
		},
		"MemberDataFunction_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'MemberDataFunction'"
		},
		"MemberDataFunction_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://memberdataparser.azurewebsites.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable Quarter",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "quarter_var",
							"value": {
								"value": "@pipeline().parameters.quarter_par",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Year",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable Quarter",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "year_var",
							"value": {
								"value": "@pipeline().parameters.year_par",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set variable Year",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "DataParser",
							"body": {
								"value": "@concat('{\"quarter_val\":\"', pipeline().parameters.quarter_par, '\", \"year_val\":\"', pipeline().parameters.year_par,'\"}')\n",
								"type": "Expression"
							},
							"headers": {
								"Content-Type": "application/json"
							},
							"method": "POST"
						},
						"linkedServiceName": {
							"referenceName": "MemberDataFunction",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"quarter_par": {
						"type": "string"
					},
					"year_par": {
						"type": "string"
					}
				},
				"variables": {
					"quarter_var": {
						"type": "String"
					},
					"year_var": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MemberDataFunction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MemberDataFunction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('MemberDataFunction_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('MemberDataFunction_functionKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}