Ingenious-df/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ingenious-df"
		},
		"MemberDataFunction_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'MemberDataFunction'"
		},
		"MemberDataFunction_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://memberdataparser.azurewebsites.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable Quarter",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "quarter_var",
							"value": {
								"value": "@pipeline().parameters.quarter_par",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable Year",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable Quarter",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "year_var",
							"value": {
								"value": "@pipeline().parameters.year_par",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set variable Year",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "DataParser",
							"body": {
								"token_type": "Bearer",
								"expires_in": "3599",
								"ext_expires_in": "3599",
								"expires_on": "1719960032",
								"not_before": "1719956132",
								"resource": "https://management.azure.com/",
								"access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ik1HTHFqOThWTkxvWGFGZnBKQ0JwZ0I0SmFLcyIsImtpZCI6Ik1HTHFqOThWTkxvWGFGZnBKQ0JwZ0I0SmFLcyJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuYXp1cmUuY29tLyIsImlzcyI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzZlZDk1ZWE0LWRjN2QtNDBmMy1iNDgyLWIxOWU5MTQ5NGIwNi8iLCJpYXQiOjE3MTk5NTYxMzIsIm5iZiI6MTcxOTk1NjEzMiwiZXhwIjoxNzE5OTYwMDMyLCJhaW8iOiJFMmRnWUtqeHZIbjk1SVg0SytVblQxVEVhaG1VQVFBPSIsImFwcGlkIjoiN2JiZmJjZTUtMGNlNi00YTc1LWE2ZTQtYTEyZTE0NGYxZDg2IiwiYXBwaWRhY3IiOiIxIiwiaWRwIjoiaHR0cHM6Ly9zdHMud2luZG93cy5uZXQvNmVkOTVlYTQtZGM3ZC00MGYzLWI0ODItYjE5ZTkxNDk0YjA2LyIsImlkdHlwIjoiYXBwIiwib2lkIjoiNDE1YjY1MDMtNDZjOC00MTY0LTlkYjUtYzllMjFhZjA5MzBkIiwicmgiOiIwLkFYWUFwRjdaYm4zYzgwQzBnckdla1VsTEJrWklmM2tBdXRkUHVrUGF3ZmoyTUJPMEFBQS4iLCJzdWIiOiI0MTViNjUwMy00NmM4LTQxNjQtOWRiNS1jOWUyMWFmMDkzMGQiLCJ0aWQiOiI2ZWQ5NWVhNC1kYzdkLTQwZjMtYjQ4Mi1iMTllOTE0OTRiMDYiLCJ1dGkiOiJDRmkwbEgyVUFVYXp4bmdSc0NPX0FBIiwidmVyIjoiMS4wIiwieG1zX2lkcmVsIjoiNyA0IiwieG1zX3RjZHQiOjE0NDc3MTAxODF9.YTY4Rs_eofECAfCefL1RCjoqKhVdqyP6BSznoI9TncxRRMoo7KFhMhiFrVHC3JS0FLVMfelmVuuDr8ilGEPUllIyD-cFVVaPKijVdkHt0-aEe81RmZd7czFhz-Gr5_mUxuO0NTHoZTVgnG1epI1p6b3gDraLBzJfdSwDc54UWCgbqAM7nVnsHcaOX4rnKEiwLQwA7M8iQ42HqVbEJWUzb82gdIrH_hCbp9SCMjArRfYtHOhHR0lYvPmcYBV4o23Q63HZjARZGZChYmRO6uWHG2tIF6zfMZGLt2J8keXIPliPA-PxO3_I9Xod3GNHYaXAx1olLVmTsu-mt-6RR9idFg"
							},
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"method": "POST"
						},
						"linkedServiceName": {
							"referenceName": "MemberDataFunction",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"quarter_par": {
						"type": "string"
					},
					"year_par": {
						"type": "string"
					}
				},
				"variables": {
					"quarter_var": {
						"type": "String"
					},
					"year_var": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MemberDataFunction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MemberDataFunction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('MemberDataFunction_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('MemberDataFunction_functionKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}